<main>
    <section class="container"> 
        <a href="/cliente" class="btn btn-primary my-3">Voltar</a>
        <section id="tabela" class="w-50 mx-0 container shadow rounded p-3">
            <h2>Detalhes Clientes</h2>
            <table>
                <tbody>
                    <tr>
                        <td>Id</td>
                        <td>{{cliente.id}}</td>
                    </tr>
                    <tr>
                        <td>Nome</td>
                        <td>{{cliente.nome}}</td>
                    </tr>
                    <tr>
                        <td>Nome Fantasia</td>
                        <td>{{cliente.nomeFantasia}}</td>
                    </tr>
                    <tr>
                        <td>Documento</td>
                        <td>{{cliente.documento}}</td>
                    </tr>
                    <tr>
                        <td>Telefone</td>
                        <td>{{cliente.telefone}}</td>
                    </tr>
                    <tr>
                        <td>Endereço</td>
                        <td>{{cliente.endereco}}</td>
                    </tr>
                    <tr>
                        <td>Tipo De Cliente</td>
                        <td>{{cliente.tipoDeCliente}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
</main>