<main>
    <a href="http://localhost:5000/cliente">Voltar</a>
    <h2>Detalhes Clientes</h2>
    <section>
        <p>Id: {{cliente.id}}</p>
        <p>Nome: {{cliente.nome}}</p>
        <p>Email: {{cliente.email}}</p>
        <p>Senha: {{cliente.senha}}</p>
        <p>Documento: {{cliente.documento}}</p>
        <p>Telefone: {{cliente.telefone}}</p>
    </section>
</main>