<main class="container-fluid bg-white p-2">
    <a href="http://localhost:5000/cliente">Voltar</a>
    <h2>Editar Cliente</h2>
    <section class="container bg-light p-2">
        <form action="http://localhost:5000/api/cliente/editar/{{cliente.id}}" method="POST">
            <label class="label-control">Nome</label>
            <input type="text" name="nome" value="{{cliente.nome}}" class="form-control m-2">
            
            <label class="label-control">Email</label>
            <input type="text" name="email" value="{{cliente.email}}" class="form-control m-2">

            <label class="label-control">Senha</label>
            <input type="text" name="senha" value="{{cliente.senha}}" class="form-control m-2">

            <label class="label-control">Documento</label>
            <input type="text" name="documento" value="{{cliente.documento}}" class="form-control m-2">

            <label class="label-control">Telefone</label>
            <input type="text" name="telefone" value="{{cliente.telefone}}" class="form-control m-2">

            <button type="submit" class="btn btn-primary m-2">Editar</button>
        </form>
    </section>
</main>