<main>
    <section class="container">
        <a href="/cliente" class="btn btn-primary mx-0 my-3">Voltar</a>
        <section class="container shadow p-4 rounded">
            <h2>Editar Cliente</h2>
            <form action="http://localhost:5000/api/cliente/editar/{{cliente.id}}" method="POST">
                <label class="label-control">Nome
                    <input type="text" name="nome" value="{{cliente.nome}}" class="form-control">
                </label>
                
                <label class="label-control m-3">Email
                    <input type="text" name="email" value="{{cliente.email}}" class="form-control">
                </label>

                <label class="label-control m-3">Senha
                    <input type="text" name="senha" value="{{cliente.senha}}" class="form-control">
                </label>

                <label class="label-control m-3">Documento
                    <input type="text" name="documento" value="{{cliente.documento}}" class="form-control">
                </label>

                <label class="label-control m-3">Telefone
                    <input type="text" name="telefone" value="{{cliente.telefone}}" class="form-control">
                </label>

                <button type="submit" class="btn btn-primary m-2">Editar</button>
            </form>
        </section>
    </section>
</main>