<main class="container-fluid p-2">
    <h2 class="my-3 ms-5">Lista Clientes</h2>
    <section class="container bg-white p-2 rounded shadow">
        <table class="text-center w-100">
            <thead >
                <tr class="p-2">
                    <th class="p-2">Id</th>
                    <th class="p-2">Nome</th>
                    <th class="p-2">Email</th>
                    <th class="p-2">Senha</th>
                    <th class="p-2">Documento</th>
                    <th class="p-2">Telefone</th>
                    <th class="p-2">Opções</th>
                </tr>
            </thead>
            <tbody>
                {{#each clientes}}
                <tr class="border-top border-bottom border-black p-2">
                    <td class="p-2">{{this.id}}</td>
                    <td class="p-2">{{this.nome}}</td>
                    <td class="p-2">{{this.email}}</td>
                    <td class="p-2">{{this.senha}}</td>
                    <td class="p-2">{{this.documento}}</td>
                    <td class="p-2">{{this.telefone}}</td>
                    <td class="p-2">
                        <a href="/cliente/detalhes/{{this.id}}" class="btn btn-light">Detalhes</a>
                        <a href="/cliente/editar/{{this.id}}" class="btn btn-light">Editar</a>
                        <a href="/api/cliente/delete/{{this.id}}" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <a href="/cliente/criar" class="btn btn-dark m-3">Criar Novo Cliente</a>
    </section>
</main>