<main>
    <section class="container"> 
        <a href="/funcionario" class="btn btn-primary my-3">Voltar</a>
        <section id="tabela" class="w-50 mx-0 container shadow rounded p-3">
            <h2>Detalhes Funcionarios</h2>
            <table>
                <tbody>
                    <tr>
                        <td>Id</td>
                        <td>{{funcionario.id}}</td>
                    </tr>
                    <tr>
                        <td>Nome</td>
                        <td>{{funcionario.nome}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{funcionario.email}}</td>
                    </tr>
                    <tr>
                        <td>Senha</td>
                        <td>{{funcionario.senha}}</td>
                    </tr>
                    <tr>
                        <td>Cargo</td>
                        <td>{{funcionario.cargo}}</td>
                    </tr>
                    <tr>
                        <td>Nivel De Acesso</td>
                        <td>{{funcionario.tipoDeAcesso}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
</main>