<main class="container-fluid p-2">
    <h2 class="my-3 ms-5">Lista Funcionarios</h2>
    <section class="container bg-white p-2 rounded shadow">
        <form action="/funcionario/search" method="GET">
            <div class="input-group">
                    <span class="input-group-text">
                        <button type="submit" class="btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg>
                        </button>
                    </span>
                    <input type="text" name="nome" class="form-control">
            </div>
        </form>

        <table class="text-center w-100">
            <thead >
                <tr class="p-2">
                    <th class="p-2">Id</th>
                    <th class="p-2">Nome</th>
                    <th class="p-2">Email</th>
                    <th class="p-2">Senha</th>
                    <th class="p-2">Cargo</th>
                    <th class="p-2">Nivel De Acesso</th>
                    <th class="p-2">Opções</th>
                </tr>
            </thead>
            <tbody>
                {{#each funcionarios}}
                <tr class="p-2">
                    <td class="p-2">{{this.id}}</td>
                    <td class="p-2">{{this.nome}}</td>
                    <td class="p-2">{{this.email}}</td>
                    <td class="p-2">{{this.senha}}</td>
                    <td class="p-2">{{this.cargo}}</td>
                    <td class="p-2">{{this.tipoDeAcesso}}</td>
                    <td class="p-2">
                        <a href="/funcionario/detalhes/{{this.id}}" class="btn btn-light">Detalhes</a>
                        <a href="/funcionario/editar/{{this.id}}" class="btn btn-light">Editar</a>
                        <a href="/api/funcionario/delete/{{this.id}}" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <a href="/funcionario/criar" class="btn btn-dark m-3">Criar Novo Funcionario</a>
    </section>
</main>