<main class="container-fluid p-2">
    <h2 class="my-3 ms-5">Estoque</h2>
    <section class="container bg-white p-2 rounded shadow">
        <table class="text-center w-100">
            <thead >
                <tr class="p-2">
                    <th class="p-2">Id</th>
                    <th class="p-2">Nome</th>
                    <th class="p-2">Cod Produto</th>
                    <th class="p-2">Descrição</th>
                    <th class="p-2">Preço Unitario</th>
                    <th class="p-2">Quantidade</th>
                    <th class="p-2">Opções</th>
                </tr>
            </thead>
            <tbody>
                {{#each produtos}}
                <tr class="p-2">
                    <td class="p-2">{{this.id}}</td>
                    <td class="p-2">{{this.nome}}</td>
                    <td class="p-2">{{this.codProduto}}</td>
                    <td class="p-2">{{this.descricao}}</td>
                    <td class="p-2">{{this.precoUnitario}}</td>
                    <td class="p-2">{{this.quantidade}}</td>
                    <td class="p-2">
                        <a href="/api/produto/delete/{{this.id}}" class="btn btn-danger">Remover</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <a href="#" class="btn btn-dark m-3">adicionar produto</a>
    </section>
</main>